

body {
    background: #E6FAFC;
}

.container {

    background: #353D2F;
    padding: 5px;
    

    display: grid;

    grid-template-columns: 1fr repeat(7, 10fr 1fr); 
    grid-template-rows: 100px 50px 25px repeat(10, minmax(50px, auto));

    grid-gap: 5px;

}

.header {
    background: green;

    grid-column: 2 / 11;
    grid-row: 1 / 2;

}

.nav {
    background: blue;

    grid-column: 2 / 11;
    grid-row: 2 / 3;
}

.content_main {
    background: yellow;

    grid-column: 2 / 11;
    grid-row: 4 / 13;
}

.logo {
    background: violet;

    grid-column: 12 / 15;
    grid-row: 1 / 3;
}

.social {
    background: blueviolet;

    grid-column: 12 / 15;
    grid-row: 4 / 13;
}